{{#each blogs as |blog|}}
  <div class='card border-secondary mb-3'>
    <div class='card-header'><a href='/api/blogs/editblog/{{blog.id}}' name='blog-id' id='blog-id'>{{blog.title}}</a></div>
    <div class='card-body'>

      <p class='card-text' id='blog-content'>{{blog.content}}</p>
      <p class='card-text'>{{blog.user.name}} on {{blog.createdAt}}</p>
    </div>
    
  </div>
{{/each}}


<form class='form add-blog-form'></form>
<h2>Create Post</h2>
<div class='form-group'>
    <a href='/api/blogs/createblog'><button class='btn btn-primary' type='submit'>Add blog</button></a>
  </div>
</form>
